.td {     
    width: 20%;
   /* height: 18px;*/
    border: 1px solid #999999;
    text-overflow: ellipsis;
    font-size: 14;
    cursor: default;
}
.table {
    border: 1px solid black;
}
tr:nth-child(1) {
    background: #CCCCCC; /* Цвет фона */
    color: black; /* Цвет текста */
} 
tr:nth-child(2n+3) {             /*odd - Все нечетные номера элементов*/
    background: #EEEEEE; /* Цвет фона */
    color: black; /* Цвет текста */
} 
tr:nth-child(2n) {            /*even - Все четные номера элементов */
    background: #FFFFFF; /* Цвет фона */
    color: black; /* Цвет текста */
}    
td:nth-child(1) {
    background: #CCCCCC; /* Цвет фона */
    color: black; /* Цвет текста */    
} 
/*  */
td.selected {
    /* background-color: red; */
    border: 1px solid red;
}
table {
    cursor: text;
 }