
/*input:required:valid {
    border-color: green;
}*/

.main {
    width: 800px;
}

.inputData {
    width: 400px;
    float: left;
}

.import {
    width: 400px;
    float: left;

}

.textarea {
    max-width: 70%;
    min-height: 200px;
    display: block;
    width: 100%;
}

.table {
    border-collapse: collapse;
    table-layout: fixed;
}

input[type=number]{
    width: 80px;
}

.table th {
    text-align: center;
    font-weight: bold;
}
  
.table td {
    width: 100px;
    height: 24px;
    white-space: nowrap;
    text-align: center;
    vertical-align: bottom;    
    border: 1px solid #999999;
    cursor: text;
}

.table td p {
    text-overflow: ellipsis;
}

.table td input {
    width: 100px;
    height: 20px;    
    outline: 0;  
}

.table .highlight {
    border: 2px solid #2c5e3c;
}

.table tr:nth-child(2n+3) {             /*odd - Все нечетные номера элементов*/
    background: #EEEEEE; 
    color: black; 
} 

.table tr:nth-child(2n) {            /*even - Все четные номера элементов */
    background: #FFFFFF; 
    color: black; 
}

tr:nth-child(1) {
    background: #CCCCCC;  
    color: black;  
}   
    
td:nth-child(1) {
    background: #CCCCCC; 
    color: black;     
} 

/* td.selected {
     background-color: red; 
    border: 1px solid red;
}
#table {
    cursor: text;
 } */

 /* */
